.title {
  text-align: center;
}

.exp-form {
  width: 50%;
  margin: auto;
}

.loading {
  width: 50%;
  margin: auto;
  text-align: center;
}

.messages {
  width: 80%;
  margin: auto;
}

.messages > div {
  background: hsl(0, 0%, 95%);
  padding: 12px;
  border-radius: 4px;
}

.messages > div > h3 {
  word-wrap: break-word;
}

.messages > div > p {
  word-wrap: break-word;
}

.messages > div:not(:last-child) {
  margin-bottom: 8px;
}